a:link {color:#286dc5;text-decoration:none;}
a:hover {color:#286dc5;text-decoration:none;}
a:active {color:#286dc5;text-decoration:none;}
a:visited {color:#286dc5;text-decoration:none;}

td, th {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0 1ex;
}
td {
    border-width: 1px;
    border-style: solid;
}
table {
    border-spacing: 0;
}
.shortlink {
    font-size: smaller;
}

.logoimg {
    height: 64px;
}